@font-face {
    font-family: DM-Sans-Light;
    src: url('/fonts/DM_Sans/static/DMSans_18pt-Light.ttf');
}

@font-face {
    font-family: DM-Sans-Medium;
    src: url('/fonts/DM_Sans/static/DMSans_18pt-Medium.ttf');
}

@font-face {
    font-family: DM-Sans-SemiBold;
    src: url('/fonts/DM_Sans/static/DMSans_18pt-SemiBold.ttf');
}

.footer {
    width: 70%;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: DM-Sans-Light;
    font-size: 18px;
    padding: 10px 0px;
    gap: 10px;
}

.contact {
    font-size: 15px;
}

.icon-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.icon-link {
    padding-top: 15px;
}

.icon-image {
    width: 40px;
    height: auto;
    transform: scale(1);
}

.icon-image {
    width: 40px;
    height: auto;
    transform: scale(1);
}

.icon-image:hover {
    transform: scale(1.4);
}
