@font-face {
    font-family: DM-Sans-Light;
    src: url('/fonts/DM_Sans/static/DMSans_18pt-Light.ttf');
}

@font-face {
    font-family: DM-Sans-Medium;
    src: url('/fonts/DM_Sans/static/DMSans_18pt-Medium.ttf');
}

@font-face {
    font-family: DM-Sans-SemiBold;
    src: url('/fonts/DM_Sans/static/DMSans_18pt-SemiBold.ttf');
}

body {
    width: 100%;
}

.footer {
    width: 70%;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: DM-Sans-Light;
    font-size: 18px;
    padding: 10px 0px;
    gap: 10px;
}

.contact {
    font-size: 15px;
}